.bg-lottie {
    position: absolute;
    opacity: 0.3;
    left:0;
    z-index: -1;
}

.constellation {
    margin-top: 50px;
}

.hide {
    opacity: 0
}

.mantine-Slider-track::before {
    background-color: #a9a9a9
}
